/deploy/.generated/*.yaml
/deploy/configs/*.yaml

/.idea

### Vagrant template
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

### Homestead
homestead.yaml
aliases
after.sh
