{% extends '_base.html.twig' %}

{% block title %}
{% endblock %}

{% block content %}
    <img class="d-block mx-auto" src="{{ asset('dist/static/logo.svg') }}" alt="Xenoblade Chronicles 2: Management Simulator">
    <p>
    </p>
{% endblock %}
