@import "~bootstrap/scss/bootstrap";

table.xeno2--blade--list tr.disabled {
    opacity: 0.65;
}

td.xeno2--blade--list--element {
    white-space: nowrap;
}

td.xeno2--blade--list--rarity {
    white-space: nowrap;
    .xeno2--icon {
        color: #e4c825;
    }
}

td.xeno2--blade--list--action {
    white-space: nowrap;
}

form[name=blade_find] {
    #blade_find_queries .form-row {
        .form-group > .row,
        .form-group > .form-row {
            &,
            & .input-group {
                @extend .align-items-baseline;
            }
        }
    }
}

.xeno2--blade--find--desc {
    .xeno2--blade--find--desc--field,
    .xeno2--blade--find--desc--value {
        font-weight: bold;
    }
}
