@import "~bootstrap/scss/bootstrap";

.navbar {
    margin-bottom: $spacer;
    .fa-user {
        .user-login > &,
        .user-logout > & {
            margin-right: 0.5rem;
        }

        .user-logout > & {
            color: $red;
        }
        .user-login > & {
            color: $green;
        }
    }
    .navbar-brand img {
        max-width: 10rem;

    }
}
