{% extends "email/_base.html.twig" %}

{% block content %}
    <p>
        An account has been created for you.  You must activate your account before continuing:
    </p>

    <div class="row">
        <div class="col-sm-auto">
            <div class="card">
                <div class="card-body text-sm-center">
                    <h2 class="card-title">Activation code</h2>
                    <p class="card-text text-uppercase" style="font-family: monospace">{{ user.getActivateCode }}</p>
                    <a class="btn btn-primary"
                       href="{{ url('user_activate', {'user': user.id, 'key': user.getActivateCode}) }}">Activate!</a>
                </div>
            </div>
        </div>
    </div>

    <p>If you believe you have received this email in error, it can be safely ignored.</p>
{% endblock %}
