<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-auto">
                <a href="https://gitlab.com/gamestuff.info/xeno2">Contribute!</a>
            </div>
            <div class="col-sm-auto">
                <span class="text-muted">Icons from <a href="https://fontawesome.com/">Font Awesome</a></span>
            </div>
        </div>
    </div>
</footer>
