<footer class="footer">
    <div class="container">
        <div class="row d-flex">
            <div class="mr-auto">
                <span class="text-muted"><a href="https://www.gamestuff.info">gamestuff.info</a></span>
            </div>
            <div class="ml-auto">
                <span class="text-muted">Icons from <a href="https://fontawesome.com/">Font Awesome</a></span>
            </div>
        </div>
        <div class="row d-flex">
            <div class="small text-muted">Release {{ app_version }}</div>
        </div>
    </div>
</footer>
