<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://xeno2.gamestuff.info/dist/css/main.css" crossorigin="anonymous">
</head>
<body>
{% block body %}
    <main role="main" class="container">
        {% block title %}
            <h1>{{ title|default('') }}</h1>
        {% endblock %}

        {% block content %}
            Error: no content defined!
        {% endblock %}
    </main>
{% endblock %}
</body>
</html>
