{% extends "email/_base.html.twig" %}

{% block content %}
    <p>
        An account has been created for you on Xeno2:
    </p>

    <dl class="row">
        <dt class="col-sm-3">Username</dt>
        <dd class="col-sm-9">{{ user.username }}</dd>

        <dt class="col-sm-3">E-Mail</dt>
        <dd class="col-sm-9">{{ user.email }}</dd>
    </dl>

    <p class="text-sm-center">
        <strong>You must activate your account before continuing:</strong>
    </p>

    <div class="row">
        <div class="col-sm-auto">
            <div class="card">
                <div class="card-body text-sm-center">
                    <h2 class="card-titler">Activation code</h2>
                    <p class="card-text text-uppercase" style="font-family: monospace">{{ user.activateCode }}</p>
                    <a class="btn btn-primary"
                       href="{{ url('user_activate', {'user': user.username, 'key': user.activateCode}) }}">Activate!</a>
                </div>
            </div>
        </div>
    </div>

    <p>If you believe you have received this email in error, it can be safely ignored.</p>
{% endblock %}
